.category-section {
  background: #e2e1de;
  padding: 60px 8%;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1250px;
  margin: 0 auto;
  gap: 15px;
}

.category-card {
  position: relative;
  height: 480px;
  overflow: hidden;
  border-radius: 4px;
}

.category-card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.category-card:hover img {
  transform: scale(1.04);
}

.category-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #ffffff;
  color: #111111;

  padding: 16px 38px;

  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 4px;

  white-space: nowrap;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.category-title:hover {
  background: #111111;
  color: #ffffff;
}


/* Tablet */
@media screen and (max-width: 900px) {
  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-card {
    height: 400px;
  }
}


/* Mobile */
@media screen and (max-width: 600px) {
  .category-section {
    padding: 30px 15px;
  }

  .category-grid {
    grid-template-columns: 1fr;
  }

  .category-card {
    height: 450px;
  }
}